input[type=text], select {
  width: 25%;
  padding: 12px 20px;
  margin: auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type=submit] {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 150px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

button {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin:auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 150px;
  
}

button[type=post]:hover {
  background-color: #45a049;
}

label {
  display: block;
  padding :5px;
  display: inline-block;
  width: 150px;
  text-align: right;
      


}

* {
  box-sizing: border-box;
}
body {
  display: block;
  justify-content: center;
  background-color: #ccc ;
}
